<div class="about-us">
    <h5 style="color: #C00000;"> O NAS </h5>
    <p>
        MS to biuro projektów założone przez Michała Salamonowicza. Nasz zespół 
        posiada doświadczenie przy projektowaniu, wykonawstwie, sporządzaniu 
        ekspertyz, audytów energetycznych budynków i prowadzeniu zaawansowanych 
        technologicznie projektów budowlanych. Nasze doświadczenie zdobywaliśmy we 
        wiodących europejskich firmach budowlanych. Współpracowaliśmy m.in. z 
        Profesorem Leonardem Runkiewiczem – wieloletnim dyrektorem w Instytucie 
        Techniki Budowlanej, autorem publikacji, zaawansowanych ekspertyz 
        budowlanych dotyczących zabytków i konstrukcji żelbetowych.
    </p>
    <p>
        Esencją naszych usług jest doradztwo w zakresie budownictwa i architektury 
        oraz zarządzanie procesem budowlanym z wykorzystaniem technologii BIM. 
        Wspieramy inwestorów w zakresie efektywności energetycznej budynków i 
        planowaniu przedsięwzięć budowlanych przyjaznych dla środowiska.
    </p>

    <p style="color: #C00000;">
        Założyciel i CEO 
    </p>
    <p> Michał Salamonowicz </p>

    <p> 
    Doktorant na Wydziale Inżynierii Lądowej oraz Wydziale Elektroniki i Technik 
    Informacyjnych Politechniki Warszawskiej. Zajmuje się projektowaniem 
    konstrukcji oraz poprawą efektywności energetycznej budynków z 
    wykorzystaniem sztucznej inteligencji. Wykłada na Politechnice Warszawskiej.
    </p>

    <p> 
    Zdobywał doświadczenie przy wznoszeniu i projektowaniu budynków biurowych 
    w międzynarodowych koncernach budowlanych tj. PORR i VINCI – Warbud. 
    </p>

    <p> 
    Posiada uprawnienia budowlane w specjalności konstrukcyjno-budowlanej bez 
    ograniczeń, uprawnienia do sprawowania samodzielnych funkcji technicznych 
    przy obiektach zabytkowych, uprawnienia do sporządzania świadectw 
    charakterystyki budynków. Audytor energetyczny budynków. 

    </p>

    <p> 
        Kieruje pracą zespołu Biura. 
    </p>
</div>
