<div style="padding: 20px;"> 
<h3 style="color: #C00000"> O NAS </h3>

<div style="display: flex"> 

<div> 

<p style="font-style: italic; width: 250px;"> 

</p>

</div>
<div class="about-us">
    <p>
        Łączymy cztery podstawowe cechy współczesnego inżyniera budown-
        ictwa: rzetelność, poszanowanie środowiska, estetyka i innowacyjność.
    </p>
    <p>
        Specjalizujemy się w zagadnieniach projektowania, rewitaliza-
        cji i efektywności energetycznej budynków. Zajmujemy się
        opracowywaniem rozwiązań konstrukcyjnych z wykorzystaniem
        materiałów rozbiórkowych.
    </p>
    <p>
        Bierzemy udział w badaniach naukowych prowadzonych na Politech-
        nice Warszawskiej, które mają na celu minimalizację zużycia energii
        przez grupy budynków.
    </p>

</div>

</div>
</div>