<div class="component-padding"> 
<h3 style="color: #51d012"> O NAS </h3>

<div style="display: flex"> 

<div> 

<p class="left-comment"> 

</p>

</div>
<div class="about-us">
    <p>
        Jesteśmy interdyscyplinarnym zespołem projektowym pracującym w obszarze inżynierii lądowej oraz informatyki. 
    </p>
    <p>
        Specjalizujemy się w zagadnieniach projektowania, rewitalizacji i efektywności energetycznej budynków.
    </p>
    <p>
        Bierzemy udział w badaniach naukowych prowadzonych na Politechnice Warszawskiej i opracowujemy narzędzia informatyczne, które mają na celu minimalizację zużycia energii przez grupy budynków.
    </p>
    <p> 
        Łączymy cztery podstawowe cechy współczesnego inżyniera: rzetelność, poszanowanie środowiska, estetyka i innowacyjność.
    </p>

</div>

</div>
</div>