<mat-sidenav-container>
        <app-toolbar></app-toolbar>
        <div class="red-bar"></div>
        <div class="global-margin"> 
        <app-about-us></app-about-us>
        <app-team></app-team>
        <app-services-section></app-services-section>
        <app-realizations></app-realizations>
        <app-worked-with> </app-worked-with>
        <app-work> </app-work>
        <app-contact> </app-contact>
        </div>
        <footer class="footer">
            <div class="footer-div">
                <div> PROJEKT: Michał Salamonowicz </div>
                <div> KOD: Krzysztof Rudnicki </div>
                <div> {{ currentYear }} MS Biuro Projektów ® </div>
            </div>
        </footer>

    <router-outlet />
</mat-sidenav-container>