@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

.spacer {
  flex: 1 1 auto;
}

.about-us {
  padding: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding-left: 200px;
  padding-right: 200px;
}

.global-margin {
  margin-left: 5cm;
  margin-right: 5cm;
}