<mat-sidenav-container>
        <app-toolbar></app-toolbar>
        <div style="background-color: #C00000; width: 100%; height: 40px;"></div>
        <div class="global-margin"> 
        <app-about-us></app-about-us>
        <app-team></app-team>
        <app-services-section></app-services-section>
        <app-realizations></app-realizations>
        <app-worked-with> </app-worked-with>
        <app-work> </app-work>
        <app-contact> </app-contact>
        </div>
        <footer style="text-align: center; padding: 10px; color: white; background-color: #C00000;">
            <div style="display: flex; flex-direction: column;">
                <div> PROJEKT: Michał Salamonowicz </div>
                <div> KOD: Krzysztof Rudnicki </div>
                <div> {{ currentYear }} MS Biuro projektów ® </div>
            </div>
        </footer>

    <router-outlet />
</mat-sidenav-container>