<div id="uslugi" style="margin-left: 20px;"> 

    <h3 style="color: #C00000"> USŁUGI </h3>
    


    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Zadbaj aby twoja inwestycja
                odpowiadała obecnym
                standardom energetycznym
                oraz była przyjazna
                środowisku. Nasze
                opracowania mogą być
                wykorzystane do programów
                Czyste Powietrze, Zielona
                Transformacja Miast i innych.
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Efektywność energetyczna </p>
            <p> Audyty energetyczne  </p>
            <p> Audyty remontowe  </p>
            <p> Audyty przedsiębiorstw </p>
            <p> Obliczanie śladu węglowego   </p>
            <p> Świadectwa charakterystyki energetycznej budynków   </p>
            <p> Badania termowizyjne   </p>
            <p> Audyty energetyczne są przygotowywane przez doświadczonych audytorów
                energetycznych i mogą stanowić podstawę do ubiegania się o dofinansowanie
                oraz przyznanie premii i grantów zgodnych z obowiązującymi przepisami (Czyste
                Powietrze, Zielona Transformacja Miast, premie oraz granty w ramach wsparcia
                termomodernizacji i remontów).   </p>


        </div>
    </div>

    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Oferujemy profesjonalne
przygotowanie zleconych
projektów. Przed
rozpoczęciem projektowania
zależy nam na poznaniu
założeń i oczekiwań
inwestora
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Projekty </p>
            <p> Projekty rewitalizacji istniejących obiektów  </p>
            <p> Koncepcje projektowe  </p>
            <p> Kompleksowe projekty budowlane i techniczne  </p>
            <p> Projekty wykonawcze  </p>


        </div>
    </div>

    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Buduj i miej pewność, że 
                każdy element procesu twojej  
                budowy jest odpowiednio 
                zarządzany i sprawdzony.                
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Zarządzanie procesem budowy </p>
            <p> Nadzory inwestorskie  </p>
            <p> Kierowanie budową  </p>
            <p> Doradztwo w zakresie uzyskania pozwoleń budowlanych  </p>
            <p> Wdrażanie standardów projektowania i wykonawstwa w technologii
                Building Information Modeling (BIM)  </p>
            <p> Informatyzacja procesu budowlanego </p>
        </div>
    </div>

    <div style="display: flex"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Jeśli masz problem z 
                elementami budynku - 
                pękające ściany, stropy, 
                zawilgocenia i inne: 
                zidentyfikuj wszystkie błędy 
                wykonawstwa i projektowania  
                zlecając prace naszemu 
                zespołowi.
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Opinie i ekspertyzy techniczne </p>
            <p> Opinie, oceny, ekspertyzy techniczne  </p>
            <p> Badania architektoniczne  </p>
            <p> Inwentaryzacje budowlane  </p>
            <p> Kontrola stanu technicznego budynków  </p>
            <p> Doradztwo techniczne przy obiektach zabytkowych  </p>


        </div>
    </div>

</div>