<div style="margin-left: 20px;"> 

    <h5 style="color: #C00000"> USŁUGI </h5>
    
    <div style="display: flex"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Jeśli masz problem z 
                elementami budynku - 
                pękające ściany, stropy, 
                zawilgocenia i inne: 
                zidentyfikuj wszystkie błędy 
                wykonawstwa i projektowania  
                zlecając prace naszemu 
                zespołowi.
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Opinie i ekspertyzy techniczne </p>
            <p> Opinie techniczne  </p>
            <p> Ekspertyzy techniczne  </p>
            <p> Inwentaryzacje budowlane  </p>
            <p> Doradztwo techniczne przy obiektach zabytkowych  </p>


        </div>
    </div>

    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Zadbaj aby twoja inwestycja 
                odpowiadała obecnym 
                standardom energetycznym 
                oraz była przyjazna 
                środowisku. Uzyskaj opinię 
                jak zmodernizować budynek
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Efektywność energetyczna budynków </p>
            <p> Audyty energetyczne  </p>
            <p> Świadectwa charakterystyki energetycznej budynków  </p>
            <p> Badania termowizyjne </p>
            <p> Audyty energetyczne przygotowywane są przez doświadczonych audytorów 
                energetycznych i mogą stanowić podstawę do ubiegania się o dofinansowanie 
                oraz przyznanie premii i grantów MZG.   </p>


        </div>
    </div>

    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Oferujemy profesjonalne 
                przygotowanie zleconych 
                projektów.  
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Projekty </p>
            <p> Kompleksowe projekty budowlane wszystkich branż  </p>
            <p> Projekty techniczne branży konstrukcyjno-budowlanej  </p>
            <p> Projekty wykonawcze  </p>
            <p> Doradztwo przy rewitalizacji obiektów zabytkowych  </p>


        </div>
    </div>

    <div style="display: flex; margin-top: 40px;"> 
    
        <div> 

            <p style="font-style: italic; width: 250px;"> 
                Buduj i miej pewność, że 
                każdy element procesu twojej  
                budowy jest odpowiednio 
                zarządzany i sprawdzony.                
            </p>

        </div>

            <div class="about-us"> 
            <p style="font-weight: 600;"> Zarządzanie procesem budowy </p>
            <p> Zarządzanie procesem budowy  </p>
            <p> Wdrażanie standardów projektowania i wykonawstwa w technologii 
                Building Information Modeling (BIM)  </p>
            <p> Informatyzacja procesu budowlanego  </p>
            <p> Nadzory budowlane  </p>
            <p> Kierowanie budową </p>
            <p> Kontrola stanu technicznego budynków</p>
            <p> Doradztwo w zakresie uzyskania pozwoleń budowlanych</p>
        </div>
    </div>

</div>