<div style="padding: 20px;"> 
    <h3 style="color: #C00000">WSPÓŁPRACA</h3>

    <div style="display: flex; flex-direction: column; margin-left:300px; gap: 6px;"> 
        <div>
            <a href="https://mggp.com.pl/" target="_blank">MGGP S.A.</a>
        </div>
        <div>
            <a href="https://www.zyrardow.pl/" target="_blank">Miasto Żyrardów</a>
        </div>
        <div>
            <a href="https://justwoodit.com/pl" target="_blank">JUST-Wood it</a>
        </div>
        <div>
            <a href="https://tlo.archi/" target="_blank">TŁO Architekci</a>
        </div>
        <div>
            <a href="https://www.intercity.pl/pl/" target="_blank">PKP Intercity S.A.</a>
        </div>
        <div>
            <a href="https://picadorstudio.com/" target="_blank">Picador Studio</a>
        </div>
        <div>
            <a href="https://projektw.com.pl/" target="_blank">ProjektW</a>
        </div>
        <div>
            <a href="https://ekocentrycy.pl/" target="_blank">Ekocentrycy</a>
        </div>
    </div>
</div>