<div style="padding: 20px;"> 
<h3 style="color: #C00000"> WSPÓŁPRACA </h3>

<div style="display: flex; flex-direction: column;"> 
    <p> 
MGGP S.A.         (https://mggp.com.pl/) 
</p>
<p> 
Miasto Żyrardów     (https://www.zyrardow.pl/)  </p>
<p>  
JUST-Wood it           (https://justwoodit.com/pl) </p>
<p> 
TŁO Architekci                          (https://tlo.archi/)  </p>
<p> 
PKP Intercity S.A.     (https://www.intercity.pl/pl/)  </p>
<p> 
Picador Studio             (https://picadorstudio.com/) </p>
<p> 
ProjektW             (https://projektw.com.pl/) </p>
<p> 
Ekocentrycy                      (https://ekocentrycy.pl/)  </p>
</div>