<div style="padding: 20px;"> 
<h5 style="color: #C00000"> WSPÓŁPRACA </h5>

<div style="display: flex"> 
    <p> 
MGGP S.A.         (https://mggp.com.pl/) 
Miasto Żyrardów     (https://www.zyrardow.pl/) 
JUST-Wood it           (https://justwoodit.com/pl)
TŁO Architekci                          (https://tlo.archi/) 
PKP Intercity S.A.     (https://www.intercity.pl/pl/) 
Picador Studio             (https://picadorstudio.com/)
ProjektW             (https://projektw.com.pl/)
Ekocentrycy                      (https://ekocentrycy.pl/) 
    </p>
</div>