<mat-toolbar class="toolbar" color="primary" id="toolbar">
    <img src="../assets/logo.webp" alt="biuro projektów" height="80">
    <span class="spacer"></span>
    <button mat-button [routerLink]="[]" fragment="o-nas">O NAS</button>
    <button mat-button [routerLink]="[]" fragment="uslugi">USŁUGI</button>
    <button mat-button [routerLink]="[]" fragment="realizacje">REALIZACJE</button>
    <button mat-button [routerLink]="[]" fragment="wspolpraca">WSPÓŁPRACA</button>
    <button mat-button [routerLink]="[]" fragment="kontakt">KONTAKT</button>
  </mat-toolbar>