.spacer {
  flex: 1 1 auto;
}

.toolbar {
    padding: 50px;
}

.custom-button {
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.custom-button:hover {
    cursor: pointer;
    background-color: transparent;
}