.spacer {
  flex: 1 1 auto;
}

.toolbar {
    padding: 50px;
}

.mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 1;
  background-color: red;
}

.mat-mdc-button:hover,
.mat-mdc-outlined-button:hover,
.mat-mdc-raised-button:hover,
.mat-mdc-flat-button:hover {
  background-color: transparent !important;
}

.mat-mdc-button.no-hover:hover,
.mat-mdc-outlined-button.no-hover:hover,
.mat-mdc-raised-button.no-hover:hover {
  background-color: inherit !important; 
}

/* For specific button instance */
.my-button:hover {
  background-color: transparent !important;
}