<mat-toolbar class="toolbar" color="primary" id="toolbar">
    <img src="../assets/logo.webp" alt="biuro projektów" height="80">
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/']" fragment="o-nas" (click)="scroll('o-nas')">O NAS</button>
    <button mat-button [routerLink]="['/']" fragment="zespol" (click)="scroll('zespol')">ZESPÓŁ</button>
    <button mat-button [routerLink]="['/']" fragment="uslugi" (click)="scroll('uslugi')">USŁUGI</button>
    <button mat-button [routerLink]="['/']" fragment="realizacje" (click)="scroll('realizacje')">REALIZACJE</button>
    <button mat-button [routerLink]="['/']" fragment="wspolpraca" (click)="scroll('wspolpraca')">WSPÓŁPRACA</button>
    <button mat-button [routerLink]="['/']" fragment="kontakt" (click)="scroll('kontakt')">KONTAKT</button>
  </mat-toolbar>