<div id="zespol" class="component-padding"> 
<h3 style="color: #51d012;"> ZESPÓŁ </h3>

<div style="display: flex"> 

<div> 

<p class="left-comment"> 

</p>
</div>

<div class="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <div class="flex" >
        <img src="assets/michal_salamonowicz.png" alt="biuro projektów" class="image">
        <div class="about-us">
            <p style="font-weight: 600;"> Michał Salamonowicz </p>
            <p style="font-size: small"> Założyciel i kierujący pracą biura </p>
            <p>
                Doktorant na Wydziale Elektroniki i Technik Informacyjnych oraz
                Wydziale Inżynierii Lądowej Politechniki Warszawskiej. Zajmuje się
                projektowaniem konstrukcji, nadzorami procesów inwestycyjnych oraz 
                oceną efektywności energetycznej budynków. Prowadzi badania nad 
                wykorzystaniem w tych aspektach widzenia maszynowego oraz 
                sztucznej inteligencji. 
                </p>
                <p> 
                Zdobywał doświadczenie przy budowie i 
                projektowaniu budynków użyteczności publicznej w międzynarodowych 
                koncernach budowlanych tj. PORR i VINCI (projekty: Skysawa, The Form, 
                Centrum Stomatologii WUM). Współpracował z prof. Leonardem Runkiewiczem, 
                wieloletnim dyrektorem Instytutu Techniki Budowlanej w zakresie napraw 
                konstrukcji budynków. 
                </p>
                <p> Posiada uprawnienia budowlane w specjalności 
                konstrukcyjno-budowlanej bez ograniczeń, uprawnienia do sprawowania 
                samodzielnych funkcji technicznych przy obiektach zabytkowych. Jest 
                członkiem Zrzeszenia Audytorów Energetycznych.
            </p>
        </div>    
    </div>

    <div class="flex" >
        <img src="assets/kornelia_binczyk.png" alt="biuro projektów" class="image">
        <div class="about-us">
            <p style="font-weight: 600;"> Kornelia Bińczyk </p>
            <p style="font-size: small"> Asystentka projektanta konstrukcji </p>
            <p>
                Absolwentka Wydziału Inżynierii Lądowej Politechniki Warszawskiej.
                Współautorka ekspertyz, analiz statyczno-wytrzymałościowych konstrukcji
                budynków, a także projektów rewitalizacji obiektów zabytkowych.
                </p>
        </div>    
    </div>

    <div class="flex" >
        <img src="assets/Z.Awin.jpg" alt="biuro projektów" class="image">
        <div class="about-us">
            <p style="font-weight: 600;"> Zofia Awin </p>
            <p style="font-size: small"> Asystentka projektanta architekta </p>
            <p>
            Studentka Wydziału Architektury Politechniki Warszawskiej.
            </p>
        </div>    
    </div>

    <div class="flex" >
        <div class="about-us">
            <p style="font-weight: 600;"> Hanna Gutowska </p>
            <p style="font-size: small"> Asystentka ds. administracji </p>
        </div>    
    </div>

    <h5 class="subtitle"> WSPÓŁPRACA PROJEKTOWA </h5>

    <div class="flex" >
        <img src="assets/arkadiusz_weglarz.png" alt="biuro projektów" class="image">
        <div class="about-us">
            <p style="font-weight: 600;"> dr hab. inż. Arkadiusz Węglarz, profesor uczelni </p>
            <p style="font-size: small">  </p>
            <p>
                Profesor na Wydziale Inżynierii Lądowej Politechniki Warszawskiej, wiceprezes
Zrzeszenia Audytorów Energetycznych, doradca zarządu Krajowej Agencji
Poszanowania Energii. Autor licznych publikacji i projektów w zakresie poprawy
efektywności energetycznej budynków. Współkierujący pracą badawczą autorstwa
mgr inż. Michała Salamonowicza.
                </p>

        </div>    
    </div>

    <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Anna Koszarska </p>
            <p>
                Konserwator dzieł sztuki, w latach 80-tych ukończyła Krakowską Akademię Sztuk
                Pięknych, gdzie później wykładała w Katedrze Malowideł Ściennych i Rzeźby.
                Przez wiele lat budowała swoje doświadczenie w Polsce, Anglii, Belgii, Francji,
                Niemczech i Danii. Uczestniczyła w konserwacji i remontach dzieł architektury
                polskiej np. Opactwo Benedyktynów w Tyńcu, XIV wieczny kościół w Gnojniku,
                kościół w Wierchomli, kościół w Wyszogrodzie. W ramach prac zagranicznych
                konserwowała m. in. dzieła Rubensa, Nan Dycka i innych znanych artystów.
                </p>
        </div>    
    </div>

    <div class="flex" >
        <img src="assets/m_zakrzewska.jpg" alt="biuro projektów" class="image">
        <div class="about-us">
            <p style="font-weight: 600;"> Maria Zakrzewska </p>
            <p>
                Specjalista ds. zrównoważonego rozwoju, współautorka licznych opracowań dot.
                efektywności energetycznej budynków. Absolwentka Wydziału Inżynierii Lądowej
                Politechniki Warszawskiej.
                </p>
        </div>    
    </div>

    <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Maciej Włoczewski </p>
            <p style="font-size: small">  </p>
            <p>
                Absolwent Akademii Sztuk Pięknych w Warszawie, grafik, autor identyfikacji
                wizualnych oraz projektów artystycznych wyposażenia budynków. Projektował m.
                in. grafikę wnętrz i identyfikacje wizualne: Cambridge Innovation Center w Berlinie,
                Vastint Nova Silesia w Katowicach, Dantex Inwestycje SO.21 w Warszawie.
                </p>
        </div>    
    </div>

        <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Małgorzata Konstanzer </p>
            <p style="font-size: small">  </p>
            <p>
Architekt, doktorantka Politechniki Warszawskiej. Zajmuje się zagadnieniami poprawy efektywności energetycznej budynków zabytkowych. 
                </p>
        </div>    
    </div>

            <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Michał Wilkoławski </p>
            <p style="font-size: small">  </p>
            <p>
Architekt
                </p>
        </div>    
    </div>

                <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Krystyna Jankowska </p>
            <p style="font-size: small">  </p>
            <p>
Architekt
                </p>
        </div>    
    </div>

                <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Jerzy Kołakowski </p>
            <p style="font-size: small">  </p>
            <p>
Architekt
                </p>
        </div>    
    </div>

                <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Hanna Stasińska </p>
            <p style="font-size: small">  </p>
            <p>
Projektant instalacji sanitarnych
                </p>
        </div>    
    </div>

                <div class="flex" >
        <div class="about-us-no-picture">
            <p style="font-weight: 600;"> Kamil Pyrzak </p>
            <p style="font-size: small">  </p>
            <p>
Projektant instalacji sanitarnych
                </p>
        </div>    
    </div>



</div>

    

</div>
</div>