<div id="wybrane projekty" class="component-padding">
    <h3 style="color: #C00000"> WYBRANE PROJEKTY </h3>

    <div style="display: flex">

        <div>

            <p class="left-comment">

            </p>

        </div>
        <div class="display: flex; flex-direction: column; justify-content: center; align-items: center;">

            <div class="flex">
                <img src="assets/mokrsk_dolny.jpg" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Remont konstrukcji kościoła z początku XIII wieku w Mokrsku Dolnym </p>
                    <p class="description">
                        W ramach projektu dokonano szczegółowej analizy występowania spękań
                        konstrukcji średniowiecznych murów, opracowano wielobranżowy projekt
                        następnie pełniono nadzór nad prowadzonymi pracami.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/zyrardow.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt rewitalizacji XIX wiecznej kamienicy w Żyrardowie </p>
                    <p class="description">
                        W ramach projektu wchodziła szczegółowa analiza statyczna konstrukcji.
                        Zaprojektowano wymianę stropów, modernizację posadowienia a także wszelkie
                        roboty budowlane związane z poprawą efektywności energetycznej budynku.
                        Wszelkie prace projektowe przeprowadzono w porozumieniu z konserwatorem
                        zabytków
                    </p>
                </div>
            </div>

            <div class="flex">
                <img src="assets/mieszkalny_zyrardow.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt remontu XIX wiecznego budynku mieszkalnego wielorodzinnego
                        w Żyrardowie </p>
                    <p class="description">
                        Przeprowadzono analizę konstrukcji budynku, zaproponowano rozwiązania
                        naprawcze związane ze statyką budynku jak również poprawą efektywności
                        energetycznej.
                    </p>
                </div>
            </div>

            <div class="flex">
                <img src="assets/parciaki.jpg" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt remontu XIX wiecznego kościoła w Parciakach </p>
                    <p class="description">
                        Przed przystąpieniem do prac projektowych przeprowadzono analizę historyczną
                        budynku, niezbędne odkrywki a także badania. Zaprojektowano naprawę
                        konstrukcji ścian zewnętrznych a także więźby dachowej. Wykonano ekspertyzę
                        techniczną oraz wielobranżowy projekt budowlany.
                    </p>
                </div>
            </div>

            <div class="flex">
                <img src="assets/kopula.jpg" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt techniczny ekologicznego domu kopułowego o konstrukcji
                        drewnianej z wypełnieniem ścian zewnętrznych włóknem konopnym w
                        Puszczykowie </p>
                    <p class="description">
                        Budynek o głównej konstrukcji nośnej z drewna klejonego warstwowo w postaci
                        dźwigarów łukowych tworzących kopułę. Ściany zewnętrzne wypełnione włóknem
                        konopnym w połączeniu z gliną. Autorem architektury budynku jest arch. Barbara
                        Wojtkowska. Wykonawcą konstrukcji jest firma Just Wood It.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/kilce_bw.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt rewitalizacji zespołu dworsko – parkowego w Klicach </p>
                    <p class="description">
                        Przeprowadzono badania architektoniczne oraz terenowe. Zaprojektowano
                        remont istniejącej części oryginalnego dworu wraz z odbudowaniem części
                        zniszczonej. Nowa konstrukcja zaprojektowana z drewna litego iglastego.
                        W związku z rewitalizacją całego zespołu zaprojektowano również aranżację
                        parku oraz zaproponowano budowę energooszczędnego pawilonu w części
                        folwarcznej. Projekt był kontynuacją badań naukowych autorów prowadzonych na
                        Politechnice Warszawskiej, w ramach których powstał artykuł naukowy
                        <a href="https://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-fd035c96-785f-4324-b95b-bd4e0dfcca81">
                            <span class="full-url" style="display: none;">https://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-fd035c96-785f-4324-b95b-bd4e0dfcca81</span>
                            <span class="short-url" style="display: none;">Link do artykułu</span>
                        </a>

                        <style>
                            @media screen and (min-width: 801px) {
                                .full-url { display: inline !important; }
                                .short-url { display: none !important; }
                            }
                            
                            @media screen and (max-width: 800px) {
                                .full-url { display: none !important; }
                                .short-url { display: inline !important; }
                            }
                        </style>
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/sadyba.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Projekt techniczny remontu i przebudowy domu w zabudowie szeregowej,
                        Warszawa Sadyba, osiedle Spółdzielni „Nowa Droga” z 1955 r. </p>
                    <p class="description">
                        Projekt realizacji domów o konstrukcji z prefabrykowanych kaflopłyt z materiałów
                        odpadowych projektu mgra inż. Aleksandra Ładyńskiego.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/audyt_zabytek.jpg" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Audyty energetyczne budynków zabytkowych z XIX wieku </p>
                    <p class="description">
                        Wykonano szczegółowe opracowania z uwzględnieniem rozwiązań projektowych
                        zaakceptowanych przez konserwatora zabytków oraz Inwestora. Audyty
                        energetyczne stanowiły podstawę do przyznania premii oraz grantu MZG przez
                        Bank Gospodarstwa Krajowego a także do dalszego opracowywania projektów
                        branżowych.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/szkola.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Audyt energetyczny budynku szkoły z lat 60-tych XX wieku </p>
                    <p class="description">
                        Przed przystąpieniem do opracowania audytu energetycznego, ze względu na
                        poważne problemy z zawilgoceniem ścian budynku wykonano ni ezbędne analizy
                        oraz badania laboratoryjne a także odwierty geologiczne. Audyt energetyczny
                        stanowił podstawę do otrzymania dofinansowania do termomodernizacji ze
                        środków publicznych.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/ekspertyza_techniczna.jpg" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Ekspertyza techniczna wraz z zaleceniami napraw konstrukcji XIX
                        wiecznej willi murowanej w stylu szwajcarskim </p>
                    <p class="description">
                        Dokonano oględzin konstrukcji budynku, przeprowadzono obliczenia kontrolne
                        oraz zaproponowano rozwiązania naprawy stropów, ścian zewnętrznych oraz
                        posadowienia.
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/muzeum_architektury_bw.png" alt="biuro projektów"
                    class="image">
                <div class="about-us">
                    <p class="title"> Rozwiązania konstrukcyjne modernizacji i rozbudowy Muzeum
                        Architektury we Wrocławiu – w ramach konkursu realizacyjnego </p>
                    <p class="description">
                        Zespół projektantów: Michał Sikorski – autor architektury, pracownia TŁO, Nicolo Signori,
                        Anna Nauwaldt, Michalina Kubiak, Natalia Budnik, Jan Jabłoński, Mateusz Zawadzki, Pola
                        Machinska, Justyna Zawada, Michał Salamonowicz, Aleksandra Kędziorek, MIOVIZ,
                        Fundacja BRDA.
                    </p>
                    <p class="description">
                        Zespół wygrał 1 miejsce w ogólnopolskim konkursie organizowanym przez SARP oraz
                        Muzeum Architektury we Wrocławiu w grudniu 2024 r co wiąże się z rozpoczęciem prac
                        planowania inwestycji.
                        Fragment opinii Jury na temat projektu: „Splatając w jeden gest reinterpretację
                        przeszłości z refleksją na temat współczesności i przyszłości projektanci w
                        sposób świadomy zdecydowali się na użycie materiałów pochodzących z
                        odzysku, minimalizując ślad węglowy obiektu i ograniczając zużycie zasobów
                        naturalnych. Wszystkie zaś nowe elementy projektowane będą zgodnie z zasadą
                        design for disassembly — czyli zakładając ponowne ich wykorzystanie,
                        wprowadzając do dyskusji refleksję nad pełnym cyklem życia budynku…”
                    </p>
                </div>
            </div>
            <div class="flex" style="display: flex; margin-left: 80px;">
                <div class="about-us-no-picture">
                    <p class="title"> Projekt techniczny willi o konstrukcji z drewna klejonego warstwowo w
                        Czerwińsku nad Wisłą </p>
                    <p class="description">
                        W ramach projektu dokonano szczegółowej analizy występowania spękań
                        konstrukcji średniowiecznych murów, opracowano wielobranżowy projekt
                        następnie pełniono nadzór nad prowadzonymi pracami.
                    </p>
                </div>
            </div>
            <div class="flex" style="display: flex; margin-left: 80px;">
                <div class="about-us-no-picture">
                    <p class="title"> Nadzór inwestorski budowy budynków infrastrukturalnych PKP Intercity w
                        Warszawie </p>
                    <p class="description">
                        W ramach inwestycji sprawowano funkcję inspektora nadzoru inwestorskiego w
                        ramach realizacji budynków przemysłowych (hale oraz budynki warsztatowe) w
                        technologii żelbetowej oraz stalowej.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>