<div style="padding: 20px;"> 
<h5 style="color: #C00000"> REALIZACJE </h5>

<div style="display: flex"> 

<div> 

<p style="font-style: italic; width: 250px;"> 

</p>

</div>
<div class="about-us">
    <p>
        Przykładowe realizacje projektowe
    </p>
    <p>
        Kompleksowy projekt rewitalizacji XIX wiecznej kamienicy w Żyrardowie. 
        W ramach projektu wchodziła szczegółowa analiza statyczna konstrukcji. 
        Zaprojektowano wymianę stropów, modernizację posadowienia a także wszelkie 
        roboty budowlane związane z poprawą termoizolacyjności i energooszczędności 
        budynku w porozumieniu z konserwatorem zabytków. 
    </p>
        ZDJĘCIE TU
    <p> 
        Projekt remontu XIX wiecznego budynku mieszkalnego wielorodzinnego 
        w Żyrardowie.
        Przeprowadzono analizę konstrukcji budynku, zaproponowano rozwiązania 
        naprawcze a także zaprojektowano rewitalizację polegającą na remoncie 
        konstrukcji, wnętrz a także dostosowaniu budynku oraz przyległego terenu dla 
        osób niepełnosprawnych. 
    </p>

    <p> 
        Projekt wzmocnienia konstrukcji murów kościoła z początku XIII wieku w 
        Mokrsku Dolnym. 
        W ramach projektu dokonano szczegółowej analizy występowania spękań 
        konstrukcji średniowiecznych – romańskich a także barokowych murów, 
        zaprojektowano rozwiązania naprawcze, przeprowadzono szczegółowe badania 
        historyczne dotyczące konstrukcji budynku, wykonano odkrywki oraz badania 
        laboratoryjne próbek. Wszelkie prace projektowe były prowadzone w 
        porozumieniu z konserwatorem dzieł sztuki i konserwatorem zabytków. 
    </p>

    <p> 
        Projekt remontu kościoła w stylu XIX wiecznego osadnictwa rosyjskiego w 
        Parciakach. 
        Przed przystąpieniem do prac projektowych przeprowadzono analizę historyczną 
        budynku, niezbędne odkrywki a także badania. Zaprojektowano naprawę 
        konstrukcji ścian zewnętrznych a także więźby dachowej. Wykonano ekspertyzę 
        techniczną oraz wielobranżowy projekt budowlany we współpracy z 
        konserwatorem dzieł sztuki. 

    </p>

    <p> 
        Projekt konstrukcji ekologicznego domu kopułowego o konstrukcji 
        drewnianej z wypełnieniem ścian zewnętrznych włóknem konopnym w 
        Puszczykowie. 
        Budynek o głównej konstrukcji nośnej z drewna klejonego warstwowo w postaci 
        dźwigarów łukowych tworzących kopułę. Ściany zewnętrzne wypełnione włóknem 
        konopnym w połączeniu z gliną. Autorem architektury budynku jest arch. Barbara 
        Wojtkowska prowadząca pracownię Ekocentrycy. Wykonawcą konstrukcji jest 
        firma Just Wood It. 
    </p>
    <p>
        Projekt techniczny willi o konstrukcji drewnianej szkieletowej z użyciem 
        drewna klejonego warstwowo. 
        Budynek usytuowany na wysoczyźnie Wisły w Czerwińsku. Autorem architektury 
        jest arch. Michał Sikorski prowadzący pracownię architektoniczną TŁO.
    </p>
    <p> 
        Audyty energetyczne budynków zabytkowych z początku XIX w 
        Żyrardowie. 
        Wykonano szczegółowe opracowania z uwzględnieniem rozwiązań projektowych 
        zaakceptowanych przez konserwatora zabytków oraz Inwestora. Audyty 
        energetyczne stanowiły podstawę do przyznania premii oraz grantu MZG przez 
        Bank Gospodarstwa Krajowego a także do dalszego opracowywania projektów 
        branżowych. 
    </p>
    <p> 
        Audyt energetyczny budynku szkoły z lat 60-tych XX wieku. 
        Przed przystąpieniem do opracowania audytu energetycznego, ze względu na 
        poważne problemy z zawilgoceniem ścian budynku wykonano niezbędne analizy 
        oraz badania laboratoryjne. Audyt energetyczny stanowił podstawę do 
        otrzymania dofinansowania do termomodernizacji ze środków publicznych. 
    </p>
    <p> 
        Ekspertyza techniczna wraz z zaleceniami napraw konstrukcji XIX 
        wiecznej willi murowanej w stylu szwajcarskim.
    </p>
    <p> 
        Nadzór inwestorski budowy budynków infrastrukturalnych PKP Intercity w 
        Warszawie. 
        Członkowie zespołu brali udział w realizacji obiektów biurowych na terenie 
        Warszawy takich jak: SKYSAWA oraz THE FORM, Centrum Stomatologii WUM. 
    </p>
</div>

</div>
</div>