<div style="padding: 20px;"> 
<h3 style="color: #C00000"> KONTAKT </h3>

<div style="display: flex"> 

<div> 

<p style="font-style: italic; width: 250px;"> 
</p>

</div>
<div class="about-us">
    <p>
        Do każdej sprawy podchodzimy indywidualnie. 
    </p>
    <p>
        W sprawie wycen prosimy kontaktować się drogą e-mail lub telefonicznie.
    </p>
    <p> 
        MS Biuro projektów 
        projektowanie.ms.gmail.com 
        +48 690 404 215 
        ul. Starościńska 5 lok. 102
        02-516 Warszawa
        NIP PL5311710019
    </p>
</div>
</div>