<div id="wspolpraca" class="component-padding"> 
<h3 style="color: #C00000"> PRACA </h3>

<div style="display: flex"> 

<div> 

<p class="left-comment"> 
</p>

</div>
<div class="about-us">
    <p>
Poszukujemy osoby chętne do pracy przy ciekawych projektach wielobranżowych (architektura, budownictwo, automatyka) a także przy badaniach naukowych. 
    </p>
    <p> 
        Zachęcamy do aplikowania na staże i praktyki
    </p>
    <p> 
        Jeśli jesteś zainteresowany/a prześlij CV oraz list motywacyjny na adres e-mail biura.
    </p>
    
</div>
</div>