<div id="wspolpraca" class="component-padding"> 
<h3 style="color: #C00000"> PRACA </h3>

<div style="display: flex"> 

<div> 

<p class="left-comment"> 
</p>

</div>
<div class="about-us">
    <p>
        Poszukujemy zdolnych i kreatywnych projektantów gotowych do pracy 
        przy kreatywnych projektach.
    </p>
    <p>
        Jeśli jesteś zainteresowany/a prześlij swoje portfolio i CV w formacie PDF 
        na adres <a href="mailto:projektowanie.ms&#64;gmail.com">projektowanie.ms&#64;gmail.com</a> 
    </p>
    
</div>
</div>